* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.main {
    padding-top: 80px;
    height: 100vh;
}

.container {
    margin: auto;
    width: 70%;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.image img {
    width: 450px;
    height: 580px;
    max-width: 100%;
    max-height: 100%;
    margin-top: -50px;
}

.about-txt {
    line-height: 2;
}

.txt {
    margin-top: 40px;
}

.bold-txt {
    line-height: 2;
    font-weight: 600;
}

.phone {
    display: flex;
    justify-content: space-between;
}

.phone-txt {
    margin-left: 40px;
    color: #808080;
}

.loc-txt {
    margin-left: 40px;
    color: #808080;
}

.location {
    display: flex;
}

.bottom-container {
    display: flex;
    margin-top: 30px;
    padding-bottom: 40px;
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .main-grid {
        grid-template-columns: 1fr;
    }
    .box-left {
        padding-bottom: 60px;
    }
    .image img {
        width: 100%;
        height: auto;
    }
    .about-txt {
        line-height: 1.5;
    }
    .bold-txt {
        line-height: 1.5;
        font-weight: 600;
    }
    .phone {
        display: flex;
    }
    .phone-txt {
        margin-left: 20px;
    }
    .loc-txt {
        margin-left: 20px;
    }
    .location {
        display: flex;
    }
    .bottom-container {
        display: flex;
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 98%;
    }
}