* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.main {
    margin: 50px 200px 0 200px;
}

img {
    width: 26vw;
    height: 69vh;
    /* position: absolute; */
}

.about-txt {
    line-height: 2;
}

.bold-txt {
    line-height: 2;
    font-weight: 600;
}

.container {
    display: flex;
}


/* .container>div {
    border: 1px solid #ccc;
} */

.box-left {
    flex: 1;
    padding: 20px;
    margin-top: 42px;
}

.box-right {
    flex: 1;
    width: 50vw;
    position: relative;
}

.phone {
    /* margin-top: 223px; */
    display: flex;
    padding-right: 25px;
    padding-left: 20px;
}

.phone-txt {
    margin-left: 40px;
}

.loc-txt {
    margin-left: 40px;
}

.location {
    /* margin-top: 33px; */
    display: flex;
}

.image {
    position: absolute;
}

.bottom-container {
    display: flex;
    margin-top: 210px;
}